
<!DOCTYPE html>
<html>
<body>

<form>
  <input type="radio" name="gender" value="male" checked> Male<br>
  <input type="radio" name="gender" value="female"> Female<br>
  <input type="radio" name="gender" value="other"> Other
</form>
 <p>
   No matter your problem, the answer lies somewhere within:  http://stackoverflow.com/
   Rails bible:  http://guides.rubyonrails.org/
   Ruby bible:  http://ruby-doc.org/
   Rails cheats:  http://www.pragtob.info/rails-beginner-cheatsheet/
   Gem info/lookup:  https://rubygems.org/
   Regex tester:  http://rubular.com/
   Definitive Rails tutorial:  https://www.railstutorial.org/book/beginning
</p>
</body>
</html>

<%= link_to 'Home', root_path %>
