<!DOCTYPE html>
<html>
<body>
<p> fuck of you Nagendra. </p>
<form>
  <input type="radio" name="gender" value="male" checked> Male<br>
  <input type="radio" name="gender" value="female"> Female<br>
  <input type="radio" name="gender" value="other"> Other
</form>

</body>
</html>

<%= link_to 'About', about_path %>
